gradio==5.47.0
pandas==2.2.3
numpy==2.4.2
scikit-learn==1.8.0
statsmodels==0.14.4
matplotlib==3.9.2
gdown==5.2.0
xgboost==3.2.0
lightgbm==4.6.0

# A8: Deep Learning / Pose Estimation
tensorflow>=2.21.0
tensorflow-hub>=0.16.1
opencv-python>=4.10.0
setuptools==82.0.0

pytest==8.3.4
pytest-cov==6.0.0
